body {
	width: 80%;
	max-width: 900px;
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
	border: 20px solid #bdc3c7;
	font-size: 20px;
	padding: 20px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

h2 {
	color: #2c3350;
	text-transform: capitalize;
	font-size: 200%;
}

p {
	text-align: justify;
}

h2 + p {
	border-left: 5px solid #bdc3c7;
	padding-left: 20px;
}

hr {
	margin-bottom: 20px;
}